backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2015.11.20.1
cycler==0.9.0
decorator==4.0.6
functools32==3.2.3.post2
ipykernel==4.2.2
ipython==4.0.1
ipython-genutils==0.1.0
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.1.1
jupyter-core==4.0.6
MarkupSafe==0.23
matplotlib==1.5.0
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
networkx==1.10
notebook==4.0.6
numpy==1.10.2
pandas==0.17.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
Pillow==3.1.0
ptyprocess==0.5
Pygments==2.0.2
pylab==0.1.3
pyparsing==2.0.7
python-dateutil==2.4.2
pytz==2015.7
pyzmq==15.1.0
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.16.1
seaborn==0.6.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sympy==0.7.6.1
terminado==0.6
tornado==4.3
traitlets==4.0.0
